@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
  color: rgba(22, 22, 22, 0.861);
}

.container {
  background-color: rgba(178, 127, 255, 0.44);
  display: block;
  width: 70%;
  height: 550px;
  margin: 110px auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-inside {
  padding: 50px 80px;
}

.flex-main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.little-flex {
  display: flex;
}

#weather-description {
  margin: 0 0 10px 0;
}

input,
button {
  padding: 8px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  margin-left: 5px;
  background-color: #ec6e4c;
  color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.current-location:hover {
  background-color: #e13b0c;
}

.submit:hover {
  background-color: #d8d8d8;
}

.source-link {
  color: rgba(134, 53, 255, 0.851);
  position: absolute;
  margin: 70px 0 0 -76px;
}

h2 {
  display: inline;
}

.inactive {
  color: rgba(22, 22, 22, 0.861);
  cursor: default;
  text-decoration: none;
}

.inactive:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(134, 53, 255, 0.851);
}

a:hover {
  text-decoration: underline;
}

#weather-icon {
  margin-top: -10px;
}

#weather-temperature {
  font-size: 50px;
}

.units {
  position: absolute;
  margin: 10px 0 0 5px;
}

.flex-forecast {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.forecast-element {
  width: 122px;
  height: 160px;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.small-weather-icon {
  width: 80%;
}
