@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body,
input,
button {
  font-family: "Poppins", sans-serif;
  color: rgba(22, 22, 22, 0.861);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(178, 127, 255, 0.44);
  display: block;
  width: 60%;
  height: 300px;
  margin: 110px auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container-inside {
  padding: 40px;
}

.flex-main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.little-flex {
  display: flex;
}

#weather-description {
  margin: 10px 0;
}

input,
button {
  padding: 8px 9px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  margin-left: 5px;
  background-color: #ec6e4c;
  color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.current-location:hover {
  background-color: #e13b0c;
}

.submit:hover {
  background-color: #d8d8d8;
}

.source-link {
  color: rgba(134, 53, 255, 0.851);
  position: absolute;
  margin: 70px 0 0 -34px;
}

h2 {
  display: inline;
}

.inactive {
  color: rgba(22, 22, 22, 0.861);
  cursor: default;
  text-decoration: none;
}

.inactive:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(134, 53, 255, 0.851);
}

a:hover {
  text-decoration: underline;
}

#weather-icon {
  margin-top: -10px;
}

#weather-temperature {
  font-size: 50px;
}

.units {
  position: absolute;
  margin: 10px 0 0 5px;
}
